
@{
    ViewBag.Title = "ProjectTypeList";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}


<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">プロジェクト区分一覧</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="tblProjectType" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>区分CD</th>
                    <th>区分名</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            const thArrrow = $('#tblProjectType thead');
            const removesort = thArrrow.clone();
            removesort.find('th').removeClass('sorting');
            thArrrow.hide().after(removesort);
            var obj = {
                ProjectTypeCD: '',
            };
            var response = CalltoApiController('@Url.Action("GetProjectType", "api/ProjectTypeApi")', obj);
            BindTable(response);
        });

        function BindTable(response) {
            table = $('#tblProjectType').DataTable({
                responsive: true,
                data: JSON.parse(response),
                datasrc: "",
                destroy: true,
                "paging": true,
                "ordering": true,
                "columns": [
                    { "data": "ProjectTypeCD", "className": "align-center", "width": "10%" },
                    { "data": "ProjectTypeCD", "className": "align-center", "width": "10%" },
                    { "data": "ProjectTypeName", "className": "align-center", "width": "20%" },
                ],
                "columnDefs": [{
                    "targets": 0,
                    "data": "ProjectTypeCD",
                    "render": function (data) {
                        return '<button type="button" class="btn btn-info" title="変更" onclick="ProjectTypeEdit(this)">変更</button>'
                    },
                }],
                "oLanguage": {
                    "sSearch": "検索条件"
                }
            });
            $('div.dataTables_filter input', table.table().container()).focus();
        }

        function ProjectTypeEdit(row) {
            var currentRow = $(row).closest("tr");
            var data = $('#tblProjectType').DataTable().row(currentRow).data();
            var url = '@Url.Action("ProjectTypeEntry", "ProjectType")?ProjectTypeCD=' + data["ProjectTypeCD"] + '&Mode=Edit';
            location.href = url;
        }
    </script>
}
