
@{
    ViewBag.Title = "ProjectView";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

<div id="divMain">

</div>

@*<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Project View</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xl-3 col-lg-3 media" style="margin-top:0">
                <div class="media-left">
                    <img src="http://163.43.113.92/HR_Management/Photo/149.jpg" style="max-width:50px; max-height:70px;float:left" />
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><label id="lblName">Swe Swe Aung</label></h6>
                    <p class="StaffInfoLabel" id="lblPosition">Member</p>
                    <p class="StaffInfoLabel" id="lblAge">35years</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xl-3 col-lg-3 media" style="margin-top:0">
                <div class="media-left">
                    <img src="http://163.43.113.92/HR_Management/Photo/149.jpg" style="max-width:50px; max-height:70px;float:left" />
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><label id="lblName">Swe Swe Aung</label></h6>
                    <p class="StaffInfoLabel" id="lblPosition">Member</p>
                    <p class="StaffInfoLabel" id="lblAge">35years</p>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            BindProjectView('');
        });

        function BindProjectView(pcd) {
            var obj = {
                ProjectCD: pcd,
            };
            var response = CalltoApiController('@Url.Action("GetProjectView", "api/ProjectListApi")', obj);
            var data = JSON.parse(response);
            var projectCD = '';
            for (var i = 0; i < data.length; i++) {
                if (data[i].ProjectCD != projectCD) {
                    var v1 = '<div id=' + data[i].ProjectCD +' class="panel panel-inverse">' +
                        '<div class="panel-heading">' +
                        '<h4 class="panel-title">' + data[i].ProjectName + '</h4>' +
                        '<div class="panel-heading-btn">' +
                        '<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">' + '<i class="fa fa-expand">' + '</i>' + '</a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="panel-body">' +
                        '<div class="row" id="div' + data[i].ProjectCD +'row">' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    $("#divMain").append(v1);
                }

                var type = '';
                if (data[i].Role == '1') {
                    type = 'Leader';                    
                }
                else if (data[i].Role == '2') {
                    type = 'Member';
                }

                var v2 =
                    '<div class="col-md-3 col-sm-12 col-xl-3 col-lg-3 profileRow">' +
                    '<div class="media-left">' +
                    '<img src="http://163.43.113.92/HR_Management/Photo/' + data[i].StaffPhoto + '" style="max-width:50px; max-height:70px;float:left;" />' +
                    '</div>' +
                    '<div class="media-body">' +
                    '<h6 class="media-heading">' +
                    '<label style = "margin-left:10px;" id = "lblName" > ' + data[i].EmployeeName + '</label>' +
                    '<p><label class="staff-info">'+ type +'</label></p>'
                    '</h6 > ' +
                    ' </div>' +
                    '</div>';

                $("#div" + data[i].ProjectCD + "row").append(v2);

                
                projectCD = data[i].ProjectCD;
            }
        }
    </script>
}


