
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

<style>
    .table thead th {
        /*vertical-align: middle;*/
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    /*table {
        border-collapse: collapse;*/
        /*width: 300px;*/
        /*overflow-x: scroll;
        display: block;
    }*/
    #tblProject{
        border-collapse: collapse;
        /*width: 300px;*/
        overflow-x: scroll;
        display: block;
    }

    #tblProject thead, #tblProject tbody {
        display: block;
    }

    #tblProject tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 410px;
    }

        #tblProject tbody tr td:first-child,
        #tblProject tbody tr td:nth-child(2),
        td:nth-child(7),
        td:nth-child(8),
        td:nth-child(9),
        td:nth-child(10),
        td:nth-child(11),
        td:nth-child(12),
        td:nth-child(13) {
            min-width: 100px;
            max-width: 110px;
        }
        #tblProject tbody tr td:nth-child(3) {
            min-width: 239px;
            max-width: 250px;
        }
    td:nth-child(4),
    td:nth-child(6) {
        min-width: 189px;
        max-width: 200px;
    }
    td:nth-child(5){
        min-width: 124px;
    }
    td:nth-child(14) {
        min-width: 478px;
        max-width: 500px;
    }

    /* New Styles */
    #tblProject thead tr th:first-child,
    #tblProject thead tr th:nth-child(2),
    #tblProject thead tr th:nth-child(3),
    #tblProject tbody tr td:first-child,
    #tblProject tbody tr td:nth-child(2),
    #tblProject tbody tr td:nth-child(3) {
        position: relative;
        z-index: 10;
        border: 1px solid #dadada;
        /*background-color: #EFEFEF;*/
    }

    .table-striped tbody tr:nth-of-type(odd) td:first-child:nth-of-type(odd),
    .table-striped tbody tr:nth-of-type(odd) td:nth-child(2):nth-of-type(even),
    .table-striped tbody tr:nth-of-type(odd) td:nth-child(3):nth-of-type(odd) {
        background-color: #f3f3f3;
    }

    .table-striped thead tr th:first-child,
    .table-striped thead tr th:nth-child(2),
    .table-striped thead tr th:nth-child(3),
    .table-striped tbody tr:nth-of-type(even) td:first-child:nth-of-type(odd),
    .table-striped tbody tr:nth-of-type(even) td:nth-child(2):nth-of-type(even),
    .table-striped tbody tr:nth-of-type(even) td:nth-child(3):nth-of-type(odd) {
        background-color: #fff;
    }

</style>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">プロジェクト一覧</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="tblProject" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
            @*table table-striped reducepadding table-bordered table-td-valign-middle*@@*stripe row-border order-column table-bordered*@
            <thead>
                <tr>
                    <th style="min-width: 72px;max-width: 110px;"></th>
                    <th style="min-width: 72px;max-width: 110px;">プロジェクト<br />CD</th>
                    <th style="min-width: 211px;">プロジェクト名</th>
                    <th style="min-width: 161px;">会社名<br />（お客さん）</th>
                    <th>プロジェクト区分</th>
                    <th style="min-width: 161px;">契約日</th>
                    <th style="min-width: 72px;">納期</th>
                    <th style="min-width: 72px;">Start日</th>
                    <th style="min-width: 72px;">End予定日</th>
                    <th style="min-width: 72px;">End日</th>
                    <th style="min-width: 72px;">状況・進捗</th>
                    <th style="min-width: 72px;">進捗率（％）</th>
                    <th style="min-width: 72px;">BPOの時の<br />契約人数</th>
                    <th style="min-width: 422px;">請求タイミング</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="modal" id="modal" style="height: auto">
            <div class="sections">
                <section>
                    <table id="detailEmployee" class="table  reducepadding table-bordered table-td-valign-middle col-sm-12 col-md-2 col-lg-2 col-xl-2" style="width:100%">
                        <thead>
                            <tr>
                                <th>スタッフCD</th>
                                <th>スタッフ名</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row div-centerbtn">
                        <button id="detailRemove" class="btn pjmscancelbtn col-sm-12 col-md-4 col-lg-4 col-xl-4"><i class="fa fa-window-close"></i>&nbsp; 閉じる</button>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">
            $(document).ready(function () {
                var obj = {
                    ProjectType: '',
                };
                var response = CalltoApiController('@Url.Action("GetProject", "api/ProjectListApi")', obj);
                BindTable(response);
                                
                $('table').on('scroll', function () {
                    var $stickyHeader1 = $('table thead tr th:first-child');
                    var $stickyHeader2 = $('table thead tr th:nth-child(2)');
                    var $stickyHeader3 = $('table thead tr th:nth-child(3)');
                    var $stickyCell1 = $('table tbody tr td:first-child');
                    var $stickyCell2 = $('table tbody tr td:nth-child(2)');
                    var $stickyCell3 = $('table tbody tr td:nth-child(3)');

                    $stickyHeader1.css('left', ($(this).scrollLeft() + 'px'));
                    $stickyHeader2.css('left', ($(this).scrollLeft() + 'px'));
                    $stickyHeader3.css('left', ($(this).scrollLeft() + 'px'));
                    $stickyCell1.css('left', ($(this).scrollLeft() + 'px'));
                    $stickyCell2.css('left', ($(this).scrollLeft() + 'px'));
                    $stickyCell3.css('left', ($(this).scrollLeft() + 'px'));

                    $("table > *").width($("table").width() + $("table").scrollLeft());
                });

            });
            function BindTable(response) {
                var table = $('#tblProject').DataTable({
                    //responsive: true,
                    data: JSON.parse(response),
                    datasrc:"",
                    destroy: true,
                    //initComplete: function () {
                    //    $('#tblProject label input').focus();
                    //},
                    "paging":true,
                    "ordering": true,
                    "columns": [
                        { "data": "ProjectCD", "className": "align-center", "width": "5%" },
                        { "data": "ProjectCD", "className":"align-center","width": "2%"},
                        { "data": "ProjectName", "className": "align-center", "width": "20%" },
                        { "data": "CompanyName", "className": "align-center", "width": "15%" },
                        { "data": "ProjectTypeCD", "className": "align-center", "width": "5%" },
                        { "data": "ContractDate", "className": "align-center", "width": "10%" },
                        { "data": "DeliveryDate", "className": "align-center", "width": "5%" },
                        { "data": "StartDate", "className": "align-center", "width": "5%" },
                        { "data": "PlanEndDate", "className": "align-center", "width": "5%" },
                        { "data": "EndDate", "className": "align-center", "width": "5%" },
                        { "data": "ProgressCD", "className": "align-center", "width": "3%" },
                        { "data": "ProgressRate", "className": "align-center", "width": "3%" },
                        { "data": "BPO", "className": "align-center", "width": "2%" },
                        { "data": "BillingTiming", "className": "align-center", "width": "5%" }
                    ],
                    "columnDefs": [{
                        "targets": 0,
                        "data": "ProjectCD",
                        "render": function (data) {
                            return '<button type="button" style="margin-right:5px" class="btn btn-info" title="詳細" onclick="ShowDetail(this)"><i class="fa fa-info-circle"></i></button>'+
                                '<button type="button" style="margin-right:5px" class="btn btn-success" onclick="ProjectEdit(\'' + data + '\',\'Edit\')" title="変更"><i class="fa fa-pencil-alt"></i></button>';
                       },
                    }],
                    "oLanguage": {
                        "sSearch": "検索条件"
                    }
                });
                var table = $('#tblProject').DataTable();
                $('div.dataTables_filter input', table.table().container()).focus();
            }
            function ShowDetail(row) {
                var currentRow = $(row).closest("tr");
                var data = $('#tblProject').DataTable().row(currentRow).data();

                $('#modal').iziModal('open');
                var obj = {
                    ProjectCD: data["ProjectCD"],
                }
                var response = CalltoApiController('@Url.Action("GetProjectDetail", "api/ProjectListApi")', obj);
                BindTable1(response);
            }
            $(".modal").iziModal({
                title: "メンバー",
                padding: 10,
                TransitionIn: 'FadeInRight',
                theme: 'light',
                width: '33%',
                headerColor: 'lightcyan',
            });
            $('#detailRemove').on('click', function (e) {
                $('#modal').iziModal('close');
            });
            function BindTable1(response) {
                table = $('#detailEmployee').DataTable({
                    responsive: true,
                    //resSelectListItemelectListItemelectListelectListonsive: true,
                    data: JSON.parse(response),
                    datasrc: "",
                    destroy: true,
                    "paging": false,
                    "searching": false,
                    "ordering": true,
                    "columns": [
                        { "data": "EmployeeCD", "className": "align-center", "width": "20%" },
                        { "data": "EmployeeName", "className": "align-center", "width": "60%" },
                        { "data": "Role", "className": "align-center", "width": "20%" }
                    ],
                });
            }
       
            function ProjectEdit(data, mode) {
                window.location.href = '@Url.Action("ProjectEntry", "Project")?ProjectCD=' + data + "&Mode=" + mode;
            }
    </script>
}


