
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Project List</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <table id="tblProject" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>ProjectCD</th>
                        <th>ProjectName</th>
                        <th>TeamID</th>
                        <th>CompanyName</th>
                        <th>PresonInCharge</th>                        
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
                
            </table>
        </div>
    </div>

    @section Scripts
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var obj = {
                    ProjectCD : ''
                };

                var response = CalltoApiController('@Url.Action("GetProject", "api/ProjectListApi")', obj);
                BindTable(response);
            });


            function BindTable(response) {
                table = $('#tblProject').DataTable({
                    responsive: true,
                    dom: 'Bfrtip',
                    data: JSON.parse(response),
                    datasrc:"",
                    destroy: true,
                    "paging":true,
                    "ordering": true,
                    "columns": [
                        { "data": "ProjectCD", "className": "align-center", "width": "7%" },
                        { "data": "ProjectCD", "className":"align-center","width": "2%"},
                        { "data": "ProjectName", "className": "align-center", "width": "15%" },
                        { "data": "TeamID", "className": "align-center", "width": "2%" },
                        { "data": "CompanyName", "className": "align-center", "width": "13%" },
                        { "data": "PresonInCharge", "className": "align-center", "width": "9%" }                       
                    ],
                    "buttons": [
                        {
                            extend: 'copy'
                        },
                        {
                            extend: 'excel',
                            className: 'btn-success',
                            init: function (api, node, config) {
                                $(node).removeClass("btn-secondary");
                            }
                        },
                        {
                            extend: 'pdf',
                            className: 'btn-danger',
                            charset: "utf-8",
                            init: function (api, node, config) {
                                $(node).removeClass("btn-secondary");
                            }
                        },
                    ],
                    "columnDefs": [{
                        "targets": 0,
                        "data": "ProjectCD",
                        "render": function (data) {
                            return '<input type="button" class="btn btn-info" style="width:70px;margin:3px;" onclick="ProjectEdit(\'' + data + '\',\'Edit\')" value="Edit">';
                       },
                    }]
                });
            }
            function ProjectEdit(data, mode) {
                window.location.href = '@Url.Action("ProjectEntry", "Project")?ProjectCD=' + data + "&Mode=" + mode;
            }
           
        </script>
    }


