
@{
    ViewBag.Title = "ProjectView";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

<div>
    <button id="btnOption" onclick="btnOptionClick()" class="btn col-sm-12 col-md-2 col-lg-2 col-xl-2 pjmsbtn"><i class="fas fa-search"></i>&nbsp;検索オプション</button>
</div>
<div id="divMain">
    
</div>
<div class="modal" id="modal" style="height: auto">
    <div class="row">
        <div id="divMain" class="col-xl-12 col-md-12 col-sm-12 mb-2">
            <div class="form-row">
                <div class="form-group col-xl-3 col-md-3 col-lg-2 col-sm-12">
                    <label for="ProjectCD">プロジェクトCD</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                        </div>
                        <input type="text" class="form-control input-sm" id="ProjectCD" maxlength="10"
                               onkeydown="KeyDown(event,this,'ProjectName')" tabindex="1" />
                    </div>
                </div>
                <div class="form-group col-xl-3 col-md-3 col-lg-2 col-sm-12">
                    <label for="ProjectName">プロジェクト名</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                        </div>
                        <input type="text" class="form-control input-sm" id="ProjectName" maxlength="30"
                               onkeydown="KeyDown(event,this,'ProjectType')" tabindex="2" />
                    </div>
                </div>
                <div class="form-group col-xl-3 col-md-3 col-lg-3 col-sm-12">
                    <label for="ProjectType">プロジェクト区分</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-check-circle"></i></span>
                        </div>
                        <select class="form-control input-sm" maxlength="30" tabindex="5" id="ProjectType" onkeydown="KeyDown(event,this,'CompanyName')"></select>
                    </div>
                </div>
                <div class="form-group col-xl-3 col-md-3 col-lg-2 col-sm-12">
                    <label for="CompanyName">会社名（お客さん）</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                        </div>
                        <input type="text" class="form-control input-sm" id="CompanyName" maxlength="50"
                               onkeydown="KeyDown(event,this,'PersonInCharge')" tabindex="3" />
                    </div>
                </div>
                <div class="form-group col-xl-3 col-md-3 col-lg-2 col-sm-12">
                    <label for="PresonInCharge">担当者（お客さん）</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fas fa-marker"></i></span>
                        </div>
                        <input type="text" class="form-control input-sm" id="PersonInCharge" maxlength="50"
                               onkeydown="KeyDown(event,this,'Progress')" tabindex="4" />
                    </div>
                </div>
                <div class="form-group col-xl-3 col-md-3 col-lg-2 col-sm-12">
                    <label for="ContractDate">状況・進捗</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-info" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <select class="form-control input-sm" maxlength="1000" tabindex="10" id="Progress" onkeydown="KeyDown(event,this,'ContractAmount')"></select>
                    </div>
                </div>
            </div>
            <div class="row div-centerbtn">
                <button id="btnSearch" onclick="btnSearchClick()" class="btn col-sm-12 col-md-2 col-lg-2 col-xl-2 pjmsbtn"><i class="fas fa-search"></i>&nbsp;検索</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var obj = {
                ProjectCD: '',
            };
            BindProjectView(obj);

            $("#ProjectType").append(
                $('<option></option>').val('').html(''));

            $("#Progress").append(
                $('<option></option>').val('').html(''));
            BindProjectType();
            BindProgress();

            $(".modal").iziModal({
                title: "プロジェクト検索",
                padding: 10,
                top: 50,
                TransitionIn: 'FadeInRight',
                theme: 'light',
                width: '70%',
                zindex: '9999',
                headerColor: 'lightcyan',
            });
        });

        function btnOptionClick() {
            $('#modal').iziModal('open');
        }

        function btnSearchClick() {
            var obj = {
                ProjectCD: $("#ProjectCD").val(),
                ProjectName: $("#ProjectName").val(),
                ProjectTypeCD: $("#ProjectType").val(),
                CompanyName: $("#CompanyName").val(),
                PersonInCharge: $("#PersonInCharge").val(),
                ProgressCD:$("#Progress").val()
            };

            BindProjectView(obj);

            $('#modal').iziModal('close');
        }

        function BindProjectType() {
            var obj = {
                ProjectTypeCD: ''
            };
            BindDropdown('ProjectType', 'ProjectTypeCD','ProjectTypeName','@Url.Action("GetProjectType", "api/ProjectTypeApi")',obj);
        }

        function BindProgress() {
            var obj = {
                ProgressCD: ''
            };
            BindDropdown('Progress', 'ProgressCD','ProgressName','@Url.Action("GetProgress", "api/ProgressApi")',obj);
        }

        function BindProjectView(obj) {
            $("#divMain").empty();

            var response = CalltoApiController('@Url.Action("GetProjectView", "api/ProjectListApi")', obj);
            var data = JSON.parse(response);
            var projectCD = '';
            for (var i = 0; i < data.length; i++) {
                if (data[i].ProjectCD != projectCD) {
                    var v1 = '<div id=' + data[i].ProjectCD +' class="panel panel-inverse">' +
                        '<div class="panel-heading">' +
                        '<h4 class="panel-title">' + data[i].ProjectName + '</h4>' +
                        '<div class="panel-heading-btn">' +
                        '<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">' + '<i class="fa fa-expand">' + '</i>' + '</a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="panel-body">' +
                        '<div class="row" id="div' + data[i].ProjectCD +'row">' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    $("#divMain").append(v1);
                }

                var type = '';
                if (data[i].Role == '1') {
                    type = 'Leader';
                }
                else if (data[i].Role == '2') {
                    type = 'Member';
                }

                var v2 =
                    '<div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 profileRow">' +
                    '<div class="media-left">' +
                    '<img src="http://163.43.113.92/HR_Management/Photo/' + data[i].StaffPhoto + '" style="max-width:50px; max-height:70px;float:left;" />' +
                    '</div>' +
                    '<div class="media-body">' +
                    '<h6 class="media-heading">' +
                    '<b><label class="staff-info" id = "lblName" > ' + data[i].EmployeeName + '</label></b>' +
                    '<p><label class="staff-info">'+ type +'</label></p>'
                    '</h6 > ' +
                    ' </div>' +
                    '</div>';

                $("#div" + data[i].ProjectCD + "row").append(v2);


                projectCD = data[i].ProjectCD;
            }
        }

    </script>
}


