
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">プロジェクト一覧</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="tblProject" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>プロジェクト<br />CD</th>
                    <th>プロジェクト名</th>
                    <th>プロジェクト<br />区分</th>
                    <th>会社名</th>
                    <th>担当者<br />（お客さん）</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal" id="modal" style="height: auto">
    <div class="sections">
        <section>
            <table id="detailEmployee" class="table table-striped reducepadding table-bordered table-td-valign-middle" style="width:100%">
                <thead>
                    <tr>
                        <th>スタッフCD</th>
                        <th>スタッフ名</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button id="detailRemove" class="btn btn-dark col-md-4 mt-3"><i class="fa fa-window-close"></i>&nbsp; 閉じる</button>
        </section>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
            $(document).ready(function () {
                var obj = {
                    ProjectType: '',
                };
                var response = CalltoApiController('@Url.Action("GetProject", "api/ProjectListApi")', obj);
                BindTable(response);
            });
            function BindTable(response) {
                table = $('#tblProject').DataTable({
                    responsive: true,
                    data: JSON.parse(response),
                    datasrc:"",
                    destroy: true,
                    "paging":true,
                    "ordering": true,
                    "columns": [
                        { "data": "ProjectCD", "className": "align-center", "width": "10%" },
                        { "data": "ProjectCD", "className":"align-center","width": "13%"},
                        { "data": "ProjectName", "className": "align-center", "width": "13%" },
                        { "data": "ProjectType", "className": "align-center", "width": "10%" },
                        { "data": "CompanyName", "className": "align-center", "width": "17%" },
                        { "data": "PersonInCharge", "className": "align-center", "width": "17%" }
                    ],
                    "columnDefs": [{
                        "targets": 0,
                        "data": "ProjectCD",
                        "render": function (data) {
                            return '<button type="button" style="margin-right:3px" class="btn btn-info" title="詳細" onclick="ShowDetail(this)"><i class="fa fa-info-circle"></i></button>'+
                                '<button type="button" class="btn btn-success" onclick="ProjectEdit(\'' + data + '\',\'Edit\')" title="変更"><i class="fa fa-pencil-alt"></i></button>';
                       },
                    }]
                });
            }
            function ShowDetail(row) {
                var currentRow = $(row).closest("tr");
                var data = $('#tblProject').DataTable().row(currentRow).data();

                $('#modal').iziModal('open');
                var obj = {
                    ProjectCD: data["ProjectCD"],
                }

                var response = CalltoApiController('@Url.Action("GetProjectDetail", "api/ProjectListApi")', obj);
                BindTable1(response);
            }
            $(".modal").iziModal({
                title: "メンバー",
                padding: 10,
                TransitionIn: 'FadeInRight',
                theme: 'light',
                width: '700px',
                headerColor: 'lightcyan',
            });
            $('#detailRemove').on('click', function (e) {
                $('#modal').iziModal('close');
            });
            function BindTable1(response1) {
                table = $('#detailEmployee').DataTable({
                    responsive: true,
                    data: JSON.parse(response1),
                    datasrc: "",
                    destroy: true,
                    "paging": false,
                    "searching": false,
                    "ordering": true,
                    "columns": [
                        { "data": "EmployeeCD", "className": "align-center", "width": "30%" },
                        { "data": "EmployeeName", "className": "align-center", "width": "35%" },
                        { "data": "Role", "className": "align-center", "width": "20%" }
                    ],
                });
            }
            function ProjectEdit(data, mode) {
                window.location.href = '@Url.Action("ProjectEntry", "Project")?ProjectCD=' + data + "&Mode=" + mode;
            }


    </script>
}


