table thead{
    text-align:center;
}

/*table td{
    padding:0 5px !important;
    text-align:center;
}*/

.reducepadding td{
    padding: 0 5px !important;
}

.gridbtn{
    padding: 5px;
    width:30px;
    margin-left:2px;
}

.required {
    color: red;
}

.align-right{
    text-align: right;
}

.qty {
    text-align: right;
}

.align-center{
    text-align:center;
}

.LoseBalance {
    font-weight: bold;
    color: red;
}

.WinBalance{
    font-weight:bold;
    color:green;
}
#btnSave, #btnUpdate {
    background-color: lightcyan;
    border: 1px solid gray;
    font-size: 15px;
    margin-bottom: 5px;
}
#btnSave, #btnUpdate {
    margin-left: 42%;
}
    #basic-addon1 i{
    font-size: 15px;
    color: aquamarine;
}


    /*#btnCancel {
    background-color: lightcoral;
    font-size: 18px;
    color: blue;
    margin-top: 5px;
}*/
    /*iziMoal*/
    /*#btncancel,#btnadd {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 55px;
}*/
#btnAdd {
    background-color: lightcyan;
    font-size: 15px;
    color: black;
    margin-top: 5px;
}
#btnRemove {
    background-color: red;
    font-size: 15px;
    color: white;
    margin-top: 5px;
}
#addLeader, #addMember {
    background-color: lightcyan;
    border: 1px solid gray;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 2px;
}

#selectedProjectDetail tr{
    text-align: center;
}

.StaffInfoLabel{
    margin-bottom:5px;
}
#txtContractDate{
    text-align: center;
}
@media screen and (max-width: 1024px) {
    #btnSave, #btnUpdate {
       margin:5px;
    }
}
@media screen and (min-width: 280px) {
    #selectedProjectDetail tr th{
      width: 20%;
    }
}