
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_PJMSLayout.cshtml";
}
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">スタッフ一覧</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="tblEmployee" class="table table-striped table-bordered table-td-valign-middle" style="width:100%">
            <thead>
                <tr>
                    <th>画像</th>
                    <th>スタッフCD</th>
                    <th>スタッフ名</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <!-- Creates the bootstrap modal where the image will appear -->
        <div class="modal" id="modal">
                <img class="col-xs-12 col-sm-12 col-md-12" src="" id="imagepreview">
            <div class="row div-centerbtn">
                <button id="btnClose" onclick="btnCloseClick();" class="btn pjmscancelbtn col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"><i class="fa fa-window-close"></i>&nbsp;閉じる</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var obj = {
                EmployeeCD: ''
            };
            var response = CalltoApiController('@Url.Action("GetEmployee", "api/EmployeeListApi")',obj);
            BindTable(response);
        });

        function Showimg(ctrl) {
           $('#imagepreview').prop('src', ctrl.src);
            $('#modal').iziModal('open');
        }
        $(".modal").iziModal({
            title: "画像プレビュー",
            padding: 10,
            className: "iziheader",
            TransitionIn: 'FadeInRight',
            theme: 'light',
            width: '37%',
            zindex: '9999',
            headerColor: 'lightcyan',
        });
        function btnCloseClick() {
            $('#modal').iziModal('close');
        }
        function BindTable(response) {
            table = $('#tblEmployee').DataTable({
                responsive: true,
                data: JSON.parse(response),
                datasrc:"",
                destroy: true,
                "paging":true,
                "ordering": true,
                "columns": [
                    { "data": "EmployeePhoto", "className": "align-center", "width": "13%" },
                    { "data": "EmployeeCD", "className": "align-center", "width": "20%" },
                    { "data": "EmployeeName", "className": "align-center", "width": "67%" },
                ],
                "columnDefs": [{
                    "targets": 0,
                    "data": "EmployeePhoto",
                    "render": function (data) {
                        return '<a href="#" id="pop"><img class="imageresource" src="http://163.43.113.92/HR_Management/Photo/' + data + '" onclick=Showimg(this) style="max-width:50px; max-height:70px" /></a >'; 
                    },
                }]
            });
        }
        
        @*function EmployeeEdit(data, mode) {
            window.location.href = '@Url.Action("EmployeeEntry", "Employee")?EmployeeCD=' + data + '&Mode=' + mode;
        }*@
    </script>
} 